.foto{
width:380px;
height:350px;
margin-bottom:5px;
display:flex;
justify-content:center;
align-items:center;
}
.container{
display:flex;
justify-content:space-between;
width:800px;
height:1100px;
background-color:#454244;
}
.left-side{
display:flex;
flex-direction:column;
}
.right-side{
display:flex;
flex-direction:column;
}
.rectangle{
width:380px;
height:350px;
background-color:white;
margin-bottom:5px;
display:flex;
justify-content:center;
align-items:center;
}

